* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    color: black;
    background-color: steelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font: bold;
    font-size: 50px;
    padding: 50px 0;
    display: flex;
    justify-content: center; 
}

.container {
    display: flex;
    justify-content: center;
}

.images {
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  max-width: 980px;
  align-items: center;
  }

.images img {
    display: flex;
    background-color: rgb(182, 51, 51);
    width: 20%;
    justify-content: space-around;
    padding: 10px;
  }
